<!-- app/views/doctors/index.html.erb -->
<h1>Patients</h1>

<%= area_chart @patient_registration_chart, library: { title: { text: "Patients Registered Over Time" }, yAxis: { title: { text: "Number of Patients" } } } %>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Registered At</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.created_at.localtime %></td>

      </tr>
    <% end %>
  </tbody>
</table>
