<!DOCTYPE html>
<html>
<head>
  <title>ClinicManagement</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to 'Dashboard', dashboard_path %></li>
        <li><%= button_to 'Logout', session_path(current_user), method: :delete %></li>
        <% if current_user.role == 'receptionist' %>
          <li><%= link_to 'Manage Patients', patients_path %></li>
        <% elsif current_user.role == 'doctor' %>
          <li><%= link_to 'View Patients', doctors_path %></li>
        <% end %>
      <% else %>
        <li><%= link_to 'Login', new_session_path %></li>
      <% end %>
    </ul>
  </nav>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% elsif flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>
  <%= yield %>
</body>
</html>
